button
{
    height:300px;
    width:29.9%;
    margin:1.6%;
    font-size: 50px;
}
p
{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
body
{
background: lightgreen;
}
